<div class="flex-row pl-10">
    <div class="recipe-header">
        <h1>Favourites</h1>
    </div>

    <% if @myfavourites.any? %>
    <div id="recipes">
        <%= render partial: 'recipes/recipe-card', collection: @favourite_recipes, as: :recipe %>
    </div>
    <% else %>
    <p>You have no favourite recipes yet.</p>
    <% end %>
</div>    